@import "tailwindcss";

:root {
  --color-primary: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f97316;
}

body {
  background-color: #020617;
  color: #f1f5f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

